html{
  scroll-behavior: smooth;
}
hr {
  background-color:white ;
}
body{
  z-index: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 0px;
  font-size: 17px; color: #8d8f90;
  font-weight: 400;
  line-height: 32px;
  background-color:  #222;
}
.logoH {
  width: 50px;
  margin-top: -5px;
  margin-bottom: -5px;
  transition: 0.8s;
}
.logoH:hover{
  transform: rotate(360deg);
}
.logoH:active{
  transition:0.1s;
  width:46px;
  margin-top:-3px;
  margin-bottom:-3px;
  margin-left:2px;
}
#logo_top{
  width: 50%;
}
.dropdown-item{
  color:white;
  opacity: 0.6;
}
.dropdown-item:hover{
  color:white;
  opacity:0.8;
  background-color:#333333;
  border-radius: 8px;
}
.dropdown-item:active{
  color:white;
  opacity:1;
}
.dropdown .dropdown-menu {
  transition: all 0.5s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.show .dropdown-menu {
  max-height: 900px;
  opacity: 1;
}
/* ovo je da uklizi dropdown umesto da se pojavi pomocu opacityja:
.show > .dropdown-menu {
  max-height: 900px;
  visibility: visible;
}
.dropdown-menu {
  display: block;
  max-height: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #8d8f90;
  margin: 6px 0;
  transition: 0.3s;
}
.navbar-toggler{
  transition: 0.3s;
}
.navbar-toggler:hover{
  border-radius:15px;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
#nzm, #nzm1{
  text-align: center;
}
.card-block{
  box-shadow: 2px 2px 20px gray;
  transition: 0.5s;
}
.card-block:hover{
  box-shadow: 2px 2px 35px gray;
}
.slikice img{
  width:130px;
  margin:20px;
  transition:0.8s;
}
.slikice img:hover{
  transform: rotate(360deg);
}
.ponudica{
  text-align: center;
}
#kartice {
  padding:5%;
  width:100%;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  padding-top: 10px;
}
.flip-card-front {
  background-color: rgb(187, 187, 187);
  color: black;
}
.flip-card-back {
  color: black;
  background-color: rgb(187, 187, 187);
  transform: rotateY(180deg);
  padding: 10px;
}
@media only screen and (max-width: 850px){
  .dolecopy {
    font-size: 60%;
  }
}
@media only screen and (max-width: 740px){
  #kartice{
    margin-left:120px;
    margin-right: 120px;
  }
}
@media only screen and (max-width: 600px){
  #kartice{
    margin-left:100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 500px){
  #kartice{
    margin-left:25px !important;
    margin-right: 60px;
  }
}
.flip-card-back p {
  color: white;
}
.flip-card-back h1 {
  color:white;
  padding-bottom: 40px;
}
h2, h3, h4, h5, h6 {
  color: #25292a;
  margin: 0px 0px 10px 0px;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
}
h1 {
  font-size: 34px;
  color: White;
  text-align:center;
}
h2 {
  font-size: 28px;
  line-height: 38px;
}
h3 {
  font-size: 22px;
  line-height: 32px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 17px;
}
h6 {
  font-size: 12px;
}
p {
  margin: 0 0 20px;
  line-height: 1.7;
  color: white;
}
p:last-child {
  margin: 0px;
}
li:hover {
  border-radius: 5px;
  background-color: rgba(31, 27, 27, 0.267);
}
a {
  text-decoration: none;
  color: #8d8f90;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
a:focus, a:hover {
  text-decoration: none;
  /*color: #f85759;*/
}
.page-caption {
  padding-top: 170px;
  padding-bottom: 174px;
}
.page-title {
  font-size: 46px;
  line-height: 1;
  color: #000;
  font-weight: 600;
  text-align: center;
}
.card-section {
  position: relative;
  bottom: 20px;
 }
.card-block {
  padding: 80px;
}
.section-title {
  margin-bottom: 60px;
}
.carousel-item {
  height: 70vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#paketic{
  width:300px;
  height:300px;
}
ol{
  text-align:left;
}
@media only screen and (max-width: 1000px){
  .flip-card{
    width: 184px !important;
    height: 290px;
    font-size: 10px;
    margin-left:19%;
  }
  .giftovi{
    margin-bottom:10px !important;
  }
  .batn{

    padding-bottom: -50% !important;
  }
  .flip-card-back ul li{
    visibility: visible;
    line-height: 250%;
    margin-left:-20%;
    text-align: left;
  }
  /*ul li:hover{
    display: none;
  }*/
  .flip-card-back h1{
    padding-bottom: 0px;
  }
  .flip-card-back ol{
    visibility: hidden;
    line-height: 150%;
  }
  #paketic{
    height: 200px !important;
    width: 180px !important;
  }
  .dolecopy {
    font-size: 80%;
  }
}
#logoPonudaS{
  height:423px;
  width: 420px;
  transition: 1s;
  width:100%;
  height:auto;
}
#logoPonudaS:hover{
  transform: rotate(360deg);
}
#obradaPonudaS{
  height:423px;
  width: 420px;
  border-radius: 7px;
  transition:0.8s;
  box-shadow: 2px 2px 20px grey;
  width:100%;
  height:auto;
}
#obradaPonudaS:hover{
  transform: rotateY(180deg);
}
.table{
  border-bottom-left-radius:7px;
  border-bottom-right-radius:7px;
  box-shadow: 2px 2px 20px grey;
}

@media only screen and (max-width: 1100px){
  #dambo {

    display:none;

  }
  .card{
    width: 184px !important;
    height: 290px;
    font-size: 10px;
    margin-left:15%;
    margin-top:15%;
    margin-bottom:15%;
  }
  #naslov {
    font-size: 12px;

  }
  #nekiTekst{
    visibility: hidden;
  }
  #nugme{
    visibility: hidden;
  }
  #augme{
    margin-top: -80% !important;
    visibility: visible !important;
  }
  #bugme {
    visibility: hidden;
  }
  #sugme{
    margin-top: -80% !important;
    visibility: visible !important;
  }

}
@media only screen and (max-width:1000px){
  #nzm{
    font-size: 15px;
    line-height: 150% !important;
    margin-left: -2%;
    padding-right: -20%;
  }
  #nzm1{
    font-size:13px;
    line-height: 150% !important;
    margin-left: -2%;
    padding-right: -20%;
  }
}
@media only screen and (max-width:1000px){

  #doleee{
    visibility: visible !important;
  }
  #dolee{
    visibility: hidden;
  }
}
@media only screen and (max-width:580px){
  #hi{
    display:none;
  }
  .table{
    margin-top:5px;
  }
  #obradaPonudaS, #logoPonudaS{
    margin-bottom:5px;
  }
}
#nikolica{
 height: 50px;
 width: 50px;
 border-radius: 50%;
 transition:0.8s;
}
#nikolica:hover{
  transform: rotate(360deg);
}
.jumbotron{
  max-height: 50%;
  box-shadow: 2px 2px 20px grey;
}
.jumbotron {
  color: #222;
}
#Onama{
  text-align: center;
}
#brane, #dzrone{
  transition: 0.5s;
  width: 100%;
  margin:auto;
}
@media only screen and (min-width:1600px){
  #brane, #dzrone{
    width:85%;
  }
}
@media only screen and (min-width:1900px){
  #brane, #dzrone{
    width:70%;
  }
}
#brane:hover, #dzrone:hover{
  box-shadow: 2px 2px 20px grey;
}
.gal img{
  cursor: pointer;
  transition:0.8s;
  width: 100px;
  border-radius:10px;
  box-shadow: 2px 2px 20px grey;
  margin:5px;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.slika{
  position:relative;
  display:none;
}
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 40px;
  color: white;
  font-size: 20px;
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 30px;
  color: gray;
  font-size: 35px;
  cursor: pointer;
  transition:0.8s;
}
.closebtn:hover{
  font-size:50px;
  transform: rotate(360deg);
}
#expandedImg{
  border-radius:10px;
  box-shadow: 2px 2px 20px grey;
  animation: shake 2s;
  animation-iteration-count: 1;
}
#jos{
  display: flex;
  justify-content: center;
}
#sakgal{
  display:none;
}
#txtmanj{
  display:none;
}
#drustvene img, #drustvene a{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color:inherit;
  text-align: center;
}
#drustvene img{
  transition:0.8s;
}
#drustvene img:hover{
  transform: rotate(360deg);
}
#drustvene h1{
  font-size: 30px;
  padding-bottom: 25px;
}
#insta{
  text-align: center;
}
.kontaktforma{
  padding-left: 5px;
}
input, textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #222;
}
label, input, textarea{
  display: block;
  color: #222;
}
#Kontakt {
  text-align: center;
}
.submit {
  width: 100%;
}
.btn-dark{
  transition: 0.5s;
}
footer {
  width: 100%;
  background-color:  #222;
  padding: 5%;
  border-color: #080808;
}
.logoF {
  width:95px;
  margin-top: 15px;
  transition: 0.8s;
}

.logoF:active{
  transition:0.1s;
  width:91px;
  margin-top:17px;
  margin-bottom:2px;
  margin-left:2px;
  margin-right:2px;
}
.mailF{
  width:95px;
  margin-top:15px;
  transition: 0.8s;
}

.up {
  width: 85px;
  opacity: 0.6;
  margin-top: 20px;
  transition: 0.3s;
}
.down {
  width: 50px;
  opacity: 0.6;
  margin-top: 20px;
  transition: 0.3s;
}
.down:hover{
  opacity: 0.8
}
.down:active{
  width: 70px;
  margin-top: 5px;
  margin-bottom: -5px;
}
.up:hover {
  opacity: 0.8;
}
.up:active {
  width: 95px;
  margin-top: 15px;
  margin-bottom: -5px;
}
.dolecopy {
  margin-bottom: -3%;
  margin-top: 3%;
}
.kopir{
  transition: 0.4s;
}
.kopir:hover{
  color: #CDCDCD;
}
.kopir:active{
  color:#DFDFDF;
}
/* centrira vertikalno(za slike u 'Ponuda') ali sve pojebe pa sam sklonio
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}*/
.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}
