#gallery img{
  transition: 0.3s;
  z-index: 999;
}
#gallery:hover img{
  opacity: 0.6;
}
#gallery img:hover{
  opacity: 1;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
}
.ytsirmium{
  padding-bottom: 35px;
}
.ytsirmium iframe{
  width:50vw;
  height: 50vh;
}
